* {
  margin: 0;
  padding: 0;
}

body {
  background-color: pink;
  background-image: url(resources/bk.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

@font-face {
  font-family: magicFont;
  src: url('resources/Fontby7Ntypes.otf') format('opentype'), url('resources/Fontby7Ntypes.otf') format('truetype');
  /* stylelint-disable-next-line font-weight-notation */
  font-weight: normal;
}

.mouse {
  width: 20px;
  height: 20px;
  border-radius: 20%;
  border: 1px solid black;
  position: absolute;
  pointer-events: none;
}

#selected {
  background-color: black;
  height: 20px;
  text-align: unset;
}

#title {
  text-align: center;
  margin: 15px 20px;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: magicFont;
  color: blueviolet;
  background-color: rgba(230, 37, 182, 0.233);
  box-shadow: 0 0 5px rgb(121, 4, 115);
  animation: bg 10s infinite;
}

@keyframes bg {
  50% {
    color: crimson;
  }
}

#header2 {
  display: flex;
  justify-content: center;
}

#color-palette {
  width: 180px;
  margin: 0 auto;
  display: flex;
}

.color {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20%;
  cursor: pointer;
  box-shadow: 0 0 5px rgb(36, 1, 41);
  margin: 2px;
}

.color:hover {
  scale: 110%;
}

.pixel {
  background-color: white;
  height: 40px;
  width: 40px;
  border: 1px solid black;
}

#pixel-board {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 70px;
  box-shadow: 0 0 5px black;
  cursor: cell;
}

#clear-board {
  cursor: pointer;
  background-color: rgb(250, 152, 152);
  margin: 8px 2px;
  padding: 0 10px;
  border-radius: 20%;
  box-shadow: 0 0 5px black;
}

#button-random-color {
  cursor: pointer;
  background-color: rgb(66, 250, 250);
  margin: 8px 2px;
  padding: 0 10px;
  border-radius: 20%;
  box-shadow: 0 0 5px black;
}

#clear-board:hover {
  scale: 110%;
}

#button-random-color:hover {
  scale: 110%;
}

#generate-board {
  cursor: pointer;
  background-color: rgb(109, 250, 66);
  margin: 8px 2px;
  padding: 0 10px;
  border-radius: 20%;
  box-shadow: 0 0 5px black;
}

#generate-board:hover {
  scale: 110%;
}

#board-size {
  background-color: rgb(109, 250, 66);
  margin: 8px 2px;
  padding: 0 10px;
  color: rgb(0, 15, 4);
  border-radius: 20%;
  box-shadow: 0 0 5px black;
}

#board-size:hover {
  background-color: rgb(190, 250, 172);
  scale: 110%;
  border-color: blueviolet;
}
